<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head profile="http://gmpg.org/xfn/11">
<title>Value Eats</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="../styles/layout.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper row1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a th:href="@{/index}">Online Value Eats System</a></h1>
      <p>Value Eats</p>
    </div>
    <div class="fl_right">
      <ul> </ul>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
  <div class="rnd">
    <!-- ###### -->
    <div id="topnav">
      <ul>          
          <li class="active"><a th:href="@{/signout}">Sign Out</a></li>
      </ul>
    </div>
    <!-- ###### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
       
      <form action="#" method="post">
          
          <table align="center" border="0px" width="100px">
              
              <tr>
                  <td>&nbsp;</td>
                  <td><a th:href="@{/logout}">Would u like to signout completely</a></td>
              </tr>
              
          </table>
          
      </form>
                  
    </div>
    
  </div>
    
 </div>
    
</body>
    
</html>
