<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head profile="http://gmpg.org/xfn/11">
<title>Value Eats</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="../styles/layout.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper row1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a th:href="@{/index}">Online Value Eats System</a></h1>
      <p>Value Eats
      	<span style="padding-left: 650px; color: red;" th:text="${session.x}"></span> 
      </p>
    </div>
    <div class="fl_right">
      <ul> </ul>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
  <div class="rnd">
    <!-- ###### -->
    <div id="topnav">
      <ul>          
          <li><a th:href="@{/addMachine}">Add Machine</a></li>
          <li class="active"><a th:href="@{/machine/view}">View Machine</a></li> 
          <li><a th:href="@{/addCategory}">Add Category</a></li>
          <li><a th:href="@{/category/view}">View Category</a></li>
          <li><a th:href="@{/signout}">Sign Out</a></li>
      </ul>
    </div>
    <!-- ###### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
      <h1>View Machine Details</h1>
       
      <div th:switch="${machines}">
      
	    <h2 th:case="null">No Records Found!</h2>
	    
	        <div th:case="*">
	        
	            <table>
	            
	                <thead>
	                
	                    <tr>
	                        <th>Machine_Id</th>
	                        <th>Machine_Name</th>
	                        <th>Machine_Address</th>
	                        <th>Machine_Location</th>
	                        <th>Machine_Capacity</th>
	                        <th>Edit</th>
	                        <th>Delete</th>
	                    </tr>
	                    
	                </thead>
	                
	                <tbody>
	                
	                <tr th:each="m : ${machines}">
	                
	                    <td th:text="${m.machineId}"></td>
	                    <td th:text="${m.machineName}"></td>
	                    <td th:text="${m.machineAddress}"></td>
	                    <td th:text="${m.machineLocation}"></td>
	                    <td th:text="${m.machineCapacity}"></td>	                    
	                    <td><a th:href="@{/machine/edit/{id}(id=${m.machineId})}"><img src='../images/Edit.png'></img></a></td>
	                    <td><a th:href="@{/machine/delete/{id}(id=${m.machineId})}"><img src='../images/Delete.png'></img></a></td>
	                    
	                </tr>
	                
	                <tr th:if="${#lists.isEmpty(machines)}">
	                
	                	<td>&nbsp;</td>
	                    <td>&nbsp;</td>
	                    <td>&nbsp;</td>
	                    <td style="color:red;">No Record Found!</td>
	                    <td>&nbsp;</td>
	                    <td>&nbsp;</td>
	                    <td>&nbsp;</td>
	                    
	                </tr>
	                
	            </tbody>
	            
	        </table>
	        
	    </div> 
                  
    </div>
    
   </div>
    
  </div>
    
 </div>
    
</body>
    
</html>
